//GENERAL RULES
//.nav > li {
//  display: block;
//  margin-top: 7px;
//  position: relative;
//}

.carousel-indicators {
  z-index: -1;
}

body {
  #wrapper {
    width: 960px; // max-width for responsive
    margin: 0 auto;
    font: 18px Tahoma, sans-serif;

    @media screen and (max-width: 960px) {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      .navbar-header{
        text-align: center;
      }
      ul{
        text-align: center;
      }
      .dropdown-menu{
        text-align: center;
      }
    }


    header {
      img#logo {
        height: 60px;
        border-radius: 50%;
        border: 1px solid orange;
        margin: 5px;
      }
    }

    main {
      #carousel {
        height: 150px;
        img {
          height: 150px;
          margin: 0 auto;
        }
      }
      &>section{
        margin-top: 15px;
        #sandwich-menu{
          color: blue;
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
        }
        //29 before end of video
        &>aside{
          &.display-me{
            display: block !important;
          }
        }
      }


    }


  }

}